<template>
<div
    class="PageEntry page-entry"
>
  <component
      :is="componentName"
      v-bind="pageData"
  />
  <div
      class="page-entry__loading"
      v-if="loading"
  >
    loading...
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import PageLeftMenu from './PageLeftMenu';
import PageListLeftMenu from './PageListLeftMenu';

export default {
  name: 'PageEntry',
  components: {
    PageLeftMenu,
    PageListLeftMenu,
  },
  computed: {
    ...mapGetters('page', [
      'pageData',
      'loading',
      'componentName',
    ]),
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .page-entry {
    &__loading {
      align-items: center;
      background-color: #ffffffdd;
      bottom: 0;
      content: '';
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
</style>
