<template>
<div class="PageLeftMenu">
  <LayoutLeftMenu>
    <template slot="headerTitle">{{title}}</template>
    <template slot="pageName">{{name}}</template>
    <div v-html="content"/>
  </LayoutLeftMenu>
</div>
</template>

<script>
import LayoutLeftMenu from '@/components/Layout/LayoutLeftMenu';

export default {
  name: 'PageLeftMenu',
  components: {
    LayoutLeftMenu,
  },
  props: {
    content: String,
    title: String,
    name: String,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
</style>
