<template>
<div class="PageListLeftMenu">
  <LayoutLeftMenu>
    <template slot="headerTitle">{{title}}</template>
    <template slot="pageName">{{name}}</template>
    <template >
      <div v-html="content"/>
      <ul class="children-list">
        <li
            class="children-list__item"
            v-for="child in childrens"
            :key="child.id"
        >
          <div class="grid-x grid-padding-x">
            <div class="cell small-4">
              <a
                  :href="child.url"
                  @click.prevent
              >
                <img :src="child.image">
              </a>
            </div>
            <div class="cell small-8">
              <h5>
                <a
                    @click.prevent
                    :href="child.url"
                    v-html="child.title"
                ></a>
              </h5>
              <p v-html="child.intro"/>
            </div>
          </div>
        </li>
      </ul>
    </template>
  </LayoutLeftMenu>
</div>
</template>

<script>
import LayoutLeftMenu from '@/components/Layout/LayoutLeftMenu';

export default {
  name: 'PageListLeftMenu',
  components: {
    LayoutLeftMenu,
  },
  props: {
    content: String,
    title: String,
    name: String,
    childrens: {
      default: () => ([]),
      type: Array,
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .children-list {
    list-style: none;
    &__item {
      padding: 30px 0;
      & + & {
        border-top: 1px solid #e6e6e6;
      }
    }
  }
</style>
