<template>
<div class="LayoutLeftMenu layout-left-menu">
    <TheHeader/>
    <div class="content">
      <TheHeaderTitle>
        <slot name="headerTitle"/>
      </TheHeaderTitle>
      <div class="text-block text-left">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell small-3 text-left">
              <div class="layout-left-menu__menu-title">
                About Us
              </div>
              <hr>
              <TheLeftMenu/>
            </div>
            <div class="cell small-9">
              <h4 class="layout-left-menu__page-name text-center">
                <slot name="pageName"/>
              </h4>
              <slot/>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import TheHeader from './TheHeader';
import TheHeaderTitle from './TheHeaderTitle';
import TheLeftMenu from './TheLeftMenu';

export default {
  name: 'LayoutLeftMenu',
  components: {
    TheHeader,
    TheLeftMenu,
    TheHeaderTitle,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .layout-left-menu {
    &__page-name {
      padding: 20px 0;
    }
    &__menu-title {
      font-weight: bold;
    }
  }
</style>
