<template>
<div class="TheHeaderTitle header-title">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <h3>
          <slot/>
        </h3>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'TheHeaderTitle',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .header-title {
    padding: 30px;
    background-color: #eee;
    color: #666;
    margin-bottom: 50px;
  }
</style>
