<template>
<div class="TheHeader the-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="top-bar align-center the-header__wrap">
          <h5>The Header</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'TheHeader',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
 .the-header {
   background-color: #000;
   &__wrap {
     background-color: #000;
     color: #fff;
   }
 }
</style>
