<template>
<div class="TheLeftMenu left-menu">
  <ul class="vertical menu">
    <router-link
        tag="li"
        active-class="is-active"
        to="/pg/overview"
    >
      <a>Overview</a>
    </router-link>
    <router-link
        tag="li"
        active-class="is-active"
        to="/pg/news"
    >
      <a>News</a>
    </router-link>
  </ul>
</div>
</template>

<script>

export default {
  name: 'TheLeftMenu',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

</style>
